.kayıtt{
    width: 230px;
    height: 120px;
    margin-right: 3%;
    border:1px solid black;
    border-radius: 8px;
    
}
.yukari-orta{
    width:100%;
    height: 200px;
    background-image: url("bg.png");
    
}
.kayit{
    width: 14%;
    height: 235px;
    background-color: #dc3545;
    float: right;
    margin-right: 3%;
    text-align: center;
    
    
    
}
.ilan{
    float: left;
    width: 450px;
    height: 147px;
    background-color: rgba(35, 35, 83, 0.712);
    margin-left: 37%;
    margin-top: 29px;
    border-radius: 10px;
}
.ilan2{
    
        margin-left: 10%;
        margin-top: 9%;
        width: 80%;
        height: 42%;

}
.orta{
    width: 100%;
    height: 1900px;
}
.alt{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.253);
}
.duyuru button{
    margin-top: 10px;
    margin-bottom: 7px;
}
.sosyal a{
    margin-left: 20px;
    margin-top: 30px;
}
.ortaicsol{
    margin-left: 10%;
    margin-top: 5%;
    width: 65%;
    height: 1400px;

}
.card{
    margin-left:5%;
margin-top: 5%;
    float: left;  
    text-align: center;
}



.input-group{
    height: 45px;
}

.sagtaraf{
    float: right;
    margin-right: 5%;
    margin-top: 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;

}
.modal {
    display: none; /* Varsayılan olarak gizlidir */
    position: fixed; /* Yerinde kal */
    z-index: 1; /* Üstte */
    left: 0;
    top: 0;
    width: 100%; /* Ful Genişlik */
    height: 100%; /* Ful Yükseklik */
    overflow: auto; /* Gerekirse kaydırmayı etkinleştir */
    background-color: rgb(0,0,0); /* Yedek renk */
    background-color: rgba(0,0,0,0.4); /* Siyah w / opaklık */
}

/* İçerik / Kutu */
.modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* % 15 üstten ve ortalanmış */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
}

/* Kapat Düğmesi */
.modal .close {
    position: absolute;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 95%;
    margin-top: -21px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.registerpop{
    margin-top: 75px;
    height: 1000px;
    width: 50%;
    float: left;
    margin-left: 25%;
    text-align: center;
    border: 12px solid black;
    border-radius: 11px;
}